body {
    font-family: "Poppins", sans-serif;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    background-color: rgb(25, 25, 25);
    color: white;



}

header section img {
    height: 50px;
    border-radius: 50px;

}

header section {
    margin: 0px 15px;
}

header nav ul {
    display: flex;
    width: 500px;
    align-items: center;
    margin-left: 40%;


}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav ul li a:hover {
    text-decoration: underline overline;

}

button {
    background-color: rgb(244, 176, 50);
    border: none;
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;

}

.adminpaneltitile {
  text-align: center;
    font-weight: 100;
}

/* EVENT */
.event-form,
.event-list {

    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.event-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

#eventImage {
    padding: 20px;
}

.admin-section {
    display: grid;
    grid-template-columns: 50% 50%;
}

.bookings {
    border: 1px solid;

}
.booking{
    border: 1px solid;
}

.bookingtitle {
    text-align: center;
    font-weight: 100;
}