@media only screen and (max-width:882px) {
    main {
        display: flex;
        flex-direction: column;
    
    }
    .A {
        display:flex;
        flex-direction: column;
        
    }
    #hotelDetails {
        margin: 5% 10%;
    }
    
   
    
}
